p
{
    
    
    color:rgb(9, 4, 68);
    font-size: 16pt;

}
body
{


background-color: rgb(185, 255, 127);
background-image: url("www.jpg");
max-width: 800px;
margin:auto;

}

img{




width:300px;


border: 5px;



color: red;


border-style: solid;







}