p
{
    
    
    color:rgb(9, 4, 68);
    font-size: 20pt;

}

.c 

  {
    text-align: center;
  }

body
{


background-color: rgb(185, 255, 127);
background-image: url("www.jpg");
max-width: 800px;
margin:auto;

}

img{

width:300px;


border: 5px;

color: red;


border-style: solid;

}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bebbs-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  